// base colors
$primary:#FF6060;
$secondary:#a33739;
$invertFont:#fff;
$dark:#000;

// transparent colors
$overlay:#0000005d;
$shadow:rgba(0, 0, 0, 0.05);

// misc
$lightRadius:.5rem;
$borderRadius:1rem;