footer{
    background:$dark;
    color:$invertFont;
    .footerContainer {
        max-width: 1420px;
        margin: auto;
        text-align: center;
        padding:2.5rem .5rem
    }
    img{
        margin:1.5rem 0;
    }
}