.logementContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    & > div {
        display: flex;
        flex-direction: column;
        gap:20px;
        justify-content: space-between;
        margin:2rem 0;
    }
    & > div:nth-child(2) {
        align-items: end;
    }
    .logementTitle{
        & h1{
            color: $primary;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom:.5rem
        }
    }
    .logementHost{
        display: flex;
        align-items: center;
        gap:10px;
        & p {
            color:$primary;
        }
        & img{
            order:2;
            border-radius:5rem;
            width:60px
        }
    }
}
.logementCollapse{
    display: flex;
    gap:80px;
}
