.listCollapse{
    margin:2rem auto;
    width:90%;
}

// .ficheCollapse{

// }

.collapse{
    display:flex;
    flex-direction: column;
    margin-bottom:1.25rem;
    .collapse-button{
        display: flex;
        z-index:1;
        justify-content:space-between;
        background-color: $primary;
        color:$invertFont;
        padding:1rem .75rem;
        font-size: 1.5rem;
        border-radius: $lightRadius;
        border:0;
        cursor: pointer
    }
    .collapse-content{
        z-index:-1;
        background-color: $shadow;
        margin-top:-.5rem;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
        border-radius: 0 0 $lightRadius $lightRadius;
    }
    .collapse-show{
        transition: .5s;
        display: block;
        animation: collapseShow .5s;
    }
    .collapse-hidden{
        display: none;
    }
    i.collapse-inactive{
        transition: .5s;
    }
    i.collapse-active{
        transform: rotate(-180deg);
        transition: .5s;
    }
}